
<h1>Configuration list</h1>

<p>List of configurations</p>

<CustomSelect Size="20" 
               Items="@luminaireConfigurations" 
               @bind-Selected="SelectedConfiguration"
               ValueSelector="@(l=> l?.Id??0)" DisplaySelector="@(l=> l==null? "" : $"{l.Name}, {l.Optic}, {l.LampColor}°K  ")">
</CustomSelect>
